.nav {
    height:175px;
    background-color: #475458;
 }
 .nav ul li{
     display: inline-block;
     height: 75px;
     color:white;
     font-family: 'Merriweather', serif;
     justify-content: space-between;
     padding: 15px;
     margin:auto;
     align-items: center;
 
 }
 .nav img {
     height:100px;
     width:150px;
 }

 .div {
    background-image: url(../-UX_UI_HW_17/images/texas4000hero.png);
    padding: 5px;
    height:500px;
    

 }

 .h1 {
    text-align: left;
    color: white;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    position: absolute;
    top: 240px; left: 140px;
    


 }

 .p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    width: 540px;
    height:100px;
    position: absolute;
    top: 360px; left: 140px;

 }

 .button {
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
     background-color: orange;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
 }

 .footer{ 
    background-color: #475458;
    height: 100px;
 }
 .footer img{
    width: 350px;
    height: 100px;

 }
 .route {
    position: absolute;
    top: 1130px; left: 800px;
 }
 